.vscode/
Notes.txt
TODO.txt
.env

build*/
CMakeCache.txt
CMakeFiles/
Makefile

*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.so.*
*.mod
*.smod
*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app